<footer class="foot">
  <div class="container">
    <div class="menu-and-contacts">
      <div class="logo-and-text">


        <a href="index.html" class="logo-index">
          <svg class="icon-square" width="16" height="16" fill="#fdfdfd">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
          <p class="icon-name" width="148" height="12">green.harvest</p>
        </a>
        <p class="paragraph-logo-foot">Whether you're looking for a healthy snack or a thoughtful gift, our fruit
          baskets are the perfect choice.
        </p>
      </div>


      <div class="menu-navigation">
        <nav class="navigation-footer">
          <ul class="list-navigation">
            <li class="li-navigation"><a href="#how-it-works">how it works</a></li>
            <li class="li-navigation"><a href="#vegetables">vegetables</a></li>
            <li class="li-navigation"><a href="#review">review</a></li>
          </ul>
        </nav>





        <address class="address-footer">
          <ul class="ul-address">
            <li>
              <a href="tel:+380684439426" class="number">+380 (68) 443-94-26</a>
            </li>
            <li>
              <p class="address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
            </li>
          </ul>
        </address>
      </div>
    </div>


    <div class="policy-footer">
      <ul class="policy">
        <li class="li-privacy">
          <a href="index.html" class="a-privacy">Privacy Policy </a>
          <a href="index.html" class="a-privacy">/ Cookie settings</a>
        </li>
        <li class="li-privacy">©Green Harvest 2023
        </li>
      </ul>
    </div>
  </div>
</footer>
