<div class="modal-overlay">
  <div class="menu">
    <div class="container modal-menu">
      <button class="close-btn" type="submit">
        <svg class="menu-close" width="16" height="16">
          <use href="img/icons.svg#icon-menu-open-mobile"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="menu-list">
          <li class="list-item item-one">
            <a class="menu-list-item list-item-one" href="#">How It Works</a>
          </li>
          <li class="list-item">
            <a class="menu-list-item" href="#">Vegetables</a>
          </li>
          <li class="list-item">
            <a class="menu-list-item" href="#">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="menu-btn">
        <button class="button-shop" type="submit">shop now</button>
      </div>
    </div>
  </div>
</div>
