ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fbfbfb;
}

.foot {
    background-color: #7A3145;
    padding: 40px 20px 40px 20px;
    width: 375px;
}

.logo-svg-footer {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    flex-wrap: wrap;
}

.paragraph-logo-foot {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.icon-logo,
.icon-name {
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 30));
}
.icon-name{
    font-weight: 600;
font-size: 16px;
line-height: 1;
color: currentColor;
font-family: "Inter Tight", sans-sefir;
text-transform: uppercase;
letter-spacing: -.01em;
margin: 0;
padding: 0;
}
.icon-logo{
    fill: #fdfdfd;
}
.paragraph-logo-foot {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    font-family: "Inter Tight", sans-serif;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 45%));
    margin: 14px 0 40px 0;
    width: 335px;
}

.list-footer {display: flex;
    flex-wrap: wrap;
} 

.li-navigation {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 45%));
    margin-bottom: 24px;
}

.li-navigation:last-child {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .li-navigation {
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        font-family: "Inter Tight", sans-serif;
        filter: none;
    }
}

.list-navigation {
    padding: 0;
    margin: 0;
}

.div-navigation-footer {
    margin: 0 0 40px 0;
}

.address-footer {
    display: flex;
}

.ul-address {
    margin: 0;
    padding: 0;
}

.number {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    font-style: normal;
    font-family: "Inter Tight", sans-serif;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 35%));
}

.address {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    font-family: "Inter Tight", sans-serif;
    font-style: normal;
    width: 179px;
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 35%));
}

.policy {
    padding: 0;
    margin: 84px 0 0 0;
}

.a-privacy {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #d4bfc4;
    font-family: "Inter Tight", sans-serif;
}

.li-privacy {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #d4bfc4;
    font-family: "Inter Tight", sans-serif;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 35%));
    margin-bottom: 24px;
}
.logo-index{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

@media screen and (max-width:767px) {
    .li-privacy:last-child {
        margin: 0;
    }
}





@media screen and (min-width: 768px) {
    .foot {
        padding: 32px;
        margin: 0;
        width: 768px;
        display: flex;
        flex-wrap: wrap;
    }

    .address-two-divs {
        display: flex;
        max-width: 228px;
        flex-wrap: wrap;
        margin: 0 0 0 212px;
        gap: 64px;
    }

    .div-container {
        width: 265px;
    }

    .list-navigation {
        display: flex;
        flex-wrap: wrap;
    }

    .div-navigation-footer {
        width: 250px;
    }

    .policy {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 704px;
    }

    .number {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        color: #fbfbfb;
        font-family: "Inter Tight", sans-serif;
        filter: none;
    }

    .address {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        color: #fbfbfb;
        font-family: "Inter Tight", sans-serif;
        filter: none;
    }

    .paragraph-logo-foot {
        font-size: 16px;
        line-height: 1.25;
        filter: none;
    }

    .icon-logo,
    .icon-name {
        filter: none;
    }
.icon-name{
    font-size: 20px;
}
    .logo-index {
        padding: 0;
        
    }

    .li-privacy {
        margin: 0;
        filter: none;
    }
}

@media screen and (min-width: 1280px) {
    .foot {
        width: 1080px;
        padding: 52px;
        display: flex;
        justify-content: space-between;
    }
.icon-name{
    font-size: 20px;
}
    .address-two-divs {
        max-width: 565px;
        margin: 0 0 0 250px;
        gap: 121px;
    }

    .policy {
        width: 1080px;
        margin: 124px 0 0 0;
    }

    .div-address {
        padding: 0;
        margin: 0;
    }
}