.logo-index{
    display: flex;
    gap: 4px;
}
.foot {
    background-color: #7A3145;
    padding: 30px 0 30px 0;
}

.list-navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-and-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
}

.ul-address {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.policy {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 80px;
}

.icon-name {
    margin: 0;
    padding: 0;
}


.paragraph-logo-foot {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;

}

.li-navigation {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;

}

.number {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    font-style: normal;

}

.address {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
}
.logo-and-text{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}


.li-privacy {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #d4bfc4;
}

@media screen and (min-width: 768px) {
    .logo-index{
        gap: 9px;
    }
    .logo-and-text {
        max-width: 265px;
        gap: 24px;
    }

    .foot {
        padding: 32px 0 32px 0;
    }

    .menu-and-contacts {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;

    }

    .menu-navigation {
        gap: 64px;
    }

    .address,
    .number {
        max-width: 215px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        color: #fbfbfb;
    }

    .ul-address {
        width: 215px;
        gap: 24px;
    }

    .policy {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

    .paragraph-logo-foot {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
    }
    .list-navigation{
        gap: 24px;
    }
}


@media screen and (min-width: 1280px) {

    .logo-index{
        gap: 9px;
  }
    .container {
        max-width: 1120px;
        padding: 0 20px;

    }
    .logo-and-text{
        gap: 24px;
    }
    .foot {
        margin: 52px 100px;
    }


    .policy {
        margin-top: 124px;
    }

    .menu-navigation {
        gap: 122px;
        flex-direction: row;
    }

    .list-navigation{
        gap: 24px;
    }
}
