
.hero {
    min-width: 375px;


    padding: 100px 0px 0px 0px;            
 background-color: rgb(87, 111, 53);

        }

 .hero-container {
     display: flex;
     flex-direction: column;
     padding: 0;
 }

 @media screen and (min-width: 768px) {

  .hero {

    padding: 120px 0px 0px 0px;

    
   }
  }

   @media screen and (min-width: 1280px) {
       .hero {
        padding: 0;
       }

        .hero-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            min-width: 1280px;
            padding-left: 100px;
            padding-right: 0;
        }
   }
 
   .hero-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 20px;
   }

   @media screen and (min-width: 768px) {
       .hero-info {
           gap: 24px;
        margin-bottom: 52px;
       }
   }

          @media screen and (min-width: 1280px) {
              .hero-info {

                    gap: 128px;
                    margin-bottom: 0px;
              }
          }


   .hero-title {
        font-weight: 600;
        font-size: 52px;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        min-width: 335px;
        
   }

        @media screen and (min-width: 768px) {
            .hero-title {
                font-size: 76px;
                max-width: 704px;
            }
        }
    
        @media screen and (min-width: 1280px) {
            .hero-title {
                max-width: 502px;


            }
        }

        .hero-text {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.42857;
                color: #fbfbfb;
                width: 335px;
                

        }

          @media screen and (min-width: 768px) {
            .hero-text {
                font-size: 16px;
                line-height: 1.25;
                width: 603px;

            }
        }
    
        @media screen and (min-width: 1280px) {
            .hero-text {
            width: 472px;
            padding: 0px 0px 52px 0px;
            }
        }

        .hero-background {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 375px;
            height: 372px;
            background-image: url(../img/hero/hero-mobile.jpg);
        }

        @media screen and (min-resolution: 192dpi) {
            .hero-background {
                background-image: url(../img/hero/hero-mobile@2x.jpg);
            }
        }

        @media screen and (min-width: 768px) {
            .hero-background {
                width: 768px;
                height: 536px;
                background-image: url(../img/hero/hero-tablet.jpg);
            }
        }

        @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
            .hero-background {
                background-image: url(../img/hero/hero-tablet@2x.jpg);
            }
        }

        @media screen and (min-width: 1280px) {
            .hero-background {
                width: 640px;
                height: 796px;
                background-image: url(../img/hero/hero-desktop.jpg);
                
            }
        }

        @media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
            .hero-background {
                background-image: url(../img/hero/hero-desktop@2x.jpg);
            }
        }
