
.hero {
    min-width: 375px;
    height: 840px;

    padding: 100px 0px 0px 0px;            
 background-color: rgb(87, 111, 53);
            background-image: url(../img/hero/hero-mobile.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: auto;
        }

                .hero-container {
                    display: flex;
                    flex-direction: column;
                }

 @media screen and (min-width: 768px) {
  .hero {
      background-image: url(../img/hero/hero-tablet.jpg);
      min-width: 768px;
    padding: 120px 0px 0px 0px;
    height: 1020px;

}
  }

   @media screen and (min-width: 1280px) {
       .hero {
        max-width: 1280px;
            height: 796px;

        background-image: url(../img/hero/hero-desktop.jpg);
        background-position: right;
        background-size: 50%;
       }

       .hero-container {
                min-width: 1280px;
                padding-left: 100px;
       }
   }
 
   .hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
   }

   @media screen and (min-width: 768px) {
       .hero-info {
           gap: 24px;
       }
   }

          @media screen and (min-width: 1280px) {
              .hero-info {
                    padding: 0px 0px 52px 0px;
                    gap: 128px;
              }
          }


   .hero-title {
        font-weight: 600;
        font-size: 52px;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        min-width: 335px;
        
   }

        @media screen and (min-width: 768px) {
            .hero-title {
                font-size: 76px;
                max-width: 704px;
            }
        }
    
        @media screen and (min-width: 1280px) {
            .hero-title {
                max-width: 502px;


            }
        }

        .hero-text {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.42857;
                color: #fbfbfb;
                width: 335px;
                

        }

          @media screen and (min-width: 768px) {
            .hero-text {
                font-size: 16px;
                line-height: 1.25;
                width: 603px;

            }
        }
    
        @media screen and (min-width: 1280px) {
            .hero-text {
            width: 472px;
            }
        }
