.how-it-work-steps-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.how-it-steps-bg {
  background-color: #576f35;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 80px 0;
  height: 676px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.workit-img-cont {
  padding: 40px 0;
}
.work-it-img {
  width: 100%;

  
  border-radius: 30px;
}

.how-it-works {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: none;
}

.work-it-title-span {
  color: #d4bfc4;
}
.how-it-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  overflow-wrap: break-word;
  width: 335px;
}
.work-it-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  width: 335px;
}
.ol-div {
  background-color: aqua;
  border-radius: 30px;
  width: 200px;
  height: 60px;
}

.how-it-list-cont {
  background-color: #ffffff;
  padding: 12px 24px 12px 66px;
  border-radius: 15px;

  position: relative;
  width: 335px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
}
.how-it-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.how-it-item {
  display: flex;
  align-items: center;
}
.how-it-item:last-child {
  margin-bottom: 0;
}

.how-it-list-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #858585;
  width: auto;
  margin-left: 24px;
  position: relative;
}

.how-it-list-cont::before {
  background-color: #791e38;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 24px;
  border: 5px solid #d4bfc4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.how-it-item-span {
  font-weight: 700;
  color: #141414;
}

.how-it-list-size {
  height: 76px;
}
.how-it-item-list-size {
  height: 84px;
}
.how-it-item:nth-child(1) .how-it-list-cont::before {
  content: '1';
}
.how-it-item:nth-child(2) .how-it-list-cont::before {
  content: '2';
}
.how-it-item:nth-child(3) .how-it-list-cont::before {
  content: '3';
}

   
.how-it-list li:first-child .how-it-list-cont{
    margin-top: 40px;}
    .how-it-list li:last-child .how-it-list-cont{
        margin-bottom:0;
    }




@media screen and (min-width: 768px) {
  .workit-img-cont {
    padding: 100px 0;
  }

  .how-it-title {
    width: 440px;
    font-size: 32px;
    gap: 24px;
  }
  .work-it-paragraph {
    width: 440px;
    font-size: 16px;
  }
  .how-it-list-cont {
    width: 440px;
    height: 76px;
  }
  .how-it-steps-bg {
    padding: 100px 0;
    height: auto;
  }
  .how-it-list-paragraph {
    font-size: 16px;
    line-height: 1.25;
  }
  .how-it-list li:first-child .how-it-list-cont{
    margin-top: 54px;}
    .how-it-list li:last-child .how-it-list-cont{
        margin-bottom:0;
    }
}
@media screen and (min-width: 1280px) {
    .how-it-work {
      width: 1280px;
        display: flex;
        align-items: center;
        justify-content: center;
      
      }
      .work-it-img{
        width: 440px;
        height: 560px;
        display: flex;
        align-items: center;
        margin: 0 auto;
      }
      .workit-img-cont{
        min-width: 640px;
      }
      .how-it-steps-bg{
        left: auto; 
        transform: none;
        min-width: 700px;
        height: 760px;
      }

      .how-it-list li:first-child .how-it-list-cont{
        margin-top: 104px;}
       
        .how-it-list li:last-child .how-it-list-cont{
            margin-bottom:0;
        }
}
